/* Contenedor para centrar la tabla */
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
}

/* Estilo para la tabla */
table {
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-collapse: collapse; /* Evita bordes dobles */
    overflow: hidden;
}

/* Estilo para los encabezados */
th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 12px;
    text-transform: uppercase;
    text-align: center;
}

/* Estilo para las celdas */
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Estilo para las filas */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Eliminar bordes adicionales */
table, th, td {
    border: none; /* Elimina el borde de la tabla y celdas */
}

