main {
    margin-top: 90px;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

.tblanco {
    color: white;
}

.tcenter {
    text-align: center;
}

.h-400{
    height: 600px;
}

.imagen{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: block;
}

.fila{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.columna{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


