<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Mascotas</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/login_usuario.css" />
</head>
<body>
    <header>
        <div class="logoHeader">
            <img src="../images/LogoPetdiatria.png" height="150px" alt="Logo" />
        </div>
        <div class="containerops">
            <a href="instalaciones.html" class="opciones">Instalaciones</a>
            <a href="Promociones.html" class="opciones">Promociones</a>
            <a href="servicios.html" class="opciones">Servicios</a>
            <a href="contacto.html" class="opciones">Contacto</a>
            <div class="button-login-reg">
                <button type="submit" class="opcionesSignIn">Sign In</button>
                <button type="submit" class="opcionesRegister">Register</button>
            </div>
        </div>
    </header>

    <main>
        <div class="contenido" id="contenido">
            <h1>Inicio de sesión Usuario</h1>
            <p class="tblanco">Digite los siguientes datos para iniciar sesión</p>
            <form th:action="@{/usuario/login}" method="post">
                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="text" name="correo" id="correo" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </form>
            <div th:if="${error}" class="mt-3">
                <p th:text="${error}" class="text-danger"></p>
            </div>
        </div>        
    </main>

    <footer>
        <div class="copy">
            <p>Copyright &copy; 2024</p>
            <p>All rights reserved</p>
            <p>Dirección: Cra 7 #40 - 62</p>
        </div>
        <div class="nosotros">
            <h3>¿Quiénes somos?</h3>
            <img src="/images/ImagenFooter.jpeg" alt="Icono" class="icono">
            <a href="#contenido">
                <p>PetDiatria</p>
            </a>
        </div>
        <div class="redes-sociales">
            <h3>Redes Sociales</h3>
            <div class="redes">
                <a href="https://x.com/MiguelBayona26" target="_blank">
                    <img src="../images/xImage.png" height="30px" alt="X">
                </a>
                <a href="https://www.instagram.com/sergio_cuellar.11/" target="_blank">
                    <img src="../images/instagram.png" height="30px" alt="Instagram">
                </a>
                <a href="https://www.facebook.com/" target="_blank">
                    <img src="../images/facebookimage.png" height="30px" alt="Facebook">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>
